/* You can add global styles to this file, and also import other style files */
@media (min-width: 992px) {
	.modal .modal-content {
		display: inline-table;
	}
}

#edit_modal {
	form {
		td {
			label {
				width: 30px;
                padding: 5px 1px;
            }
        }
        button[class$="-fast-input"] {
            width: 30px;
            height: 25px;
            padding: 5px 1px;
        }
    }
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    padding: 0.65rem 2.8rem!important;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ebedf2!important;
    border-radius: 0.25rem!important;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    box-shadow: unset!important;

    .tt-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        cursor: pointer;

        .tt-suggestion {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #333333;
            white-space: nowrap;
        }

        .tt-suggestion:hover, .tt-suggestion:focus {
            color: #ffffff;
            text-decoration: none;
            outline: 0;
            background-color: #428bca;
        }
    }

    .label-info {
        background-color: #5bc0de;
    }

    .label {
        display: inline;
        padding: .1em .6em .3em;
        font-size: 80%;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
}

.bootstrap-tagsinput-focus {
    color: #495057;
    background-color: #fff;
    border-color: #c2c7f3!important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}

.amcharts-export-menu li {
    display: inline-block;
}

