<div class="m-content">
	<ul>
	</ul>
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Modal Demos
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<table class="table table-bordered">
				<tr>
					<td style="width: 30%">
						Large modal
					</td>
					<td>
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4" >
							Edit Plan
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!--end::Portlet-->
	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form>
				<div class="modal-header">
					<div>
						<span class="modal-title" >{{ member }}</span>&nbsp;
						<span class="modal-title" >{{ badge }}</span>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<table  class="table table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th rowspan="2">Month</th>
								<th colspan="2"> 1</th>
								<th colspan="2" >2</th>
								<th colspan="2" >3</th>
								<th colspan="2" >4</th>
							</tr>
							<tr>
								<th >Credit</th>
								<th >Assign</th>
								<th >Credit</th>
								<th >Assign</th>
								<th >Credit</th>
								<th >Assign</th>
								<th >Credit</th>
								<th >Assign</th>
							</tr>
						</thead>
						<tbody *ngFor="let item of showData">
							<tr>
								<td rowspan="4">{{ item.numOfMonth }}</td>
								<td><input #allInput name="assign-{{item.numOfMonth + '-' + item.weekOfMonth[0].week}}" type="text" size="3" value="{{ item && item.weekOfMonth[0]? item.weekOfMonth[0].assign: '' }}"></td>
								<td><input #allInput name="assign-{{item.numOfMonth + '-' + item.weekOfMonth[0].week}}" type="text" size="3" value="{{ item && item.weekOfMonth[0]? item.weekOfMonth[0].assign: '' }}"></td>
								<td><input #allInput name="assign-{{item.numOfMonth + '-' + item.weekOfMonth[1].week}}" type="text" size="3" value="{{ item.weekOfMonth[1]? item.weekOfMonth[1].assign: '' }}" ></td>
								<td><input #allInput name="credit-{{item.numOfMonth + '-' + item.weekOfMonth[1].week}}" type="text" size="3" value="{{ item.weekOfMonth[1]? item.weekOfMonth[1].credit: '' }}" ></td>
								<td><input #allInput name="assign-{{item.numOfMonth + '-' + item.weekOfMonth[2].week}}"  type="text" size="3" value="{{ item.weekOfMonth[2]? item.weekOfMonth[2].assign: '' }}" ></td>
								<td><input #allInput name="credit-{{item.numOfMonth + '-' + item.weekOfMonth[2].week}}" type="text" size="3" value="{{ item.weekOfMonth[2]? item.weekOfMonth[2].credit: '' }}" ></td>
								<td><input #allInput name="assign-{{item.numOfMonth + '-' + item.weekOfMonth[3].week}}" type="text" size="3" value="{{ item.weekOfMonth[3]? item.weekOfMonth[3].assign: '' }}" ></td>
								<td><input #allInput name="credit-{{item.numOfMonth + '-' + item.weekOfMonth[3].week}}" type="text" size="3" value="{{ item.weekOfMonth[3]? item.weekOfMonth[3].credit: '' }}" ></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary" (click)="onSubmit()">
						Send
					</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!--end::Modal-->
	<!-- Modal -->
	<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Modal title
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary">
						Save changes
					</button>
				</div>
			</div>
		</div>
	</div>
</div>